/* element-plus样式重写 */
.el-popover.el-popper {
  background-color: var(--card-bg) !important;
  border: 1px solid var(--card-border) !important;
  color: var(--card-text) !important;
}

.el-popper.is-light,
.el-popper.is-light > .el-popper__arrow:before {
  background: var(--card-bg) !important;
  border: 1px solid var(--card-border) !important;
}

/* 抽屉样式 */
.el-drawer {
  --el-drawer-bg-color: var(--card-bg-1) !important;
  .el-icon {
    color: var(--card-text) !important;
  }
}

.el-textarea {
  --el-input-bg-color: var(--card-bg) !important;
  --el-input-text-color: var(--card-text) !important;
  span {
    color: var(--card-text) !important;
    background-color: var(--card-bg) !important;
  }
}
